*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.image{
	width: 100%;
}
#sliderBoard{   /* div */
	border: 1px solid #ccc;
	width: 60%;
	margin: 100px auto;
	overflow: hidden;
}
#content{   /* ul */
	position: relative;
}
#content li{   /* li */
	float: left;
}


/* circle button */
#contentButton{
	text-align: center;
	width: 100%;
	font-size: 18px;
}
#contentButton li{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 8px;

	display: inline-block;
}
#contentButton li.clickme{
	background-color: #6a6a6a;
}

.about{
	width: 80%;
	font-size: 16px;
}